<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Polindroms</title>
    </head>
    <body>
        <div align="left">
            <br/>
            <!--<form action="#" th:action="/polindrom" method="post" th:object="polindromData">
                <div>
                    <label for="field-number">Number</label>
                    <input id="field-number" type="number" th:field="*{number}"/>
                    <button type="submit">Find</button>
                </div>
            </form>-->
            <tr th:each="polindrom : ${allpolindroms}">
                <td th:text="${polindrom.nimber}">Number</td>
                <td th:text="${polindromt.polindrom}">Polindrom</td>
            </tr>
        </div>
    </body>
</html>